importFrom(data.table,fread, as.xts.data.table)
import(GenomicRanges)
import(R6)
import(rhdf5)
import(reshape2)
import(stringr)
import(ggplot2)
import(grid)
import(curl)
import(tibble)
importFrom(S4Vectors, subjectHits, queryHits, Rle, DataFrame)
importFrom(IRanges, IRanges)
importFrom(dplyr, arrange)
importFrom(IRanges, IntegerList)
import(RColorBrewer)
importFrom(viridis, inferno, plasma, magma, viridis, cividis)
importFrom(GenomeInfoDb, seqlevels, seqlengths, seqnames)
importFrom(digest, digest)
importFrom(utils, object.size)
importFrom(scales,rescale)
importFrom(stats, quantile)
importFrom(jsonlite, toJSON, fromJSON, prettify, minify)
importFrom(readr, write_lines, read_lines)
importFrom(BiocParallel, bplapply, MulticoreParam, SnowParam)
importFrom(grDevices, colorRampPalette)
importFrom(GenomicRanges, findOverlaps)
importFrom(grDevices, colorRampPalette)
importFrom(R.utils, getRelativePath)
importFrom(methods, new)
export(Create_many_Bricks)
export(Brick_get_chrominfo)
export(Brick_make_ranges)
export(Brick_add_ranges)
export(Brick_list_rangekeys)
export(Brick_rangekey_exists)
export(Brick_list_ranges_mcols)
export(Brick_list_matrices)
export(Brick_get_ranges)
export(Brick_get_bintable)
export(Brick_fetch_range_index)
export(Brick_return_region_position)
export(Brick_load_matrix)
export(Brick_load_cis_matrix_till_distance)
export(Brick_matrix_isdone)
export(Brick_matrix_maxdist)
export(Brick_matrix_exists)
export(Brick_matrix_minmax)
export(Brick_matrix_filename)
export(Brick_get_values_by_distance)
export(Brick_get_matrix_within_coords)
export(Brick_get_matrix)
export(Brick_fetch_row_vector)
export(Brick_get_vector_values)
export(Brick_list_matrix_mcols)
export(Brick_get_matrix_mcols)
export(Brick_local_score_differentiator)
export(Brick_matrix_issparse)
export(Brick_vizart_plot_heatmap)
export(Brick_list_mcool_normalisations)
export(Brick_mcool_normalisation_exists)
export(Brick_matrix_dimensions)
export(CreateBrick_from_mcool)
export(Brick_load_data_from_mcool)
export(Brick_list_mcool_resolutions)
export(BrickContainer_list_chromosomes)
export(BrickContainer_list_resolutions)
export(BrickContainer_list_output_directory)
export(BrickContainer_list_experiment_name)
export(BrickContainer_unlink_resolution)
export(BrickContainer_change_output_directory)
export(BrickContainer_change_experiment_name)
export(BrickContainer_get_path_to_file)
export(BrickContainer_list_files)
export(load_BrickContainer)
export(Brick_export_to_sparse)